name: Run FESCO Bot Daily

on:
  schedule:
    - cron: "0 5 * * *"   # 10:00 AM Pakistan Time (PST = UTC+5)
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install selenium requests

      - name: Run script
        run: python home_bill.py
